# Ключ django
SECRET_KEY=

# Режим дебага (разработки)
DEBUG=True

# Настройки для подключения к БД
    HOST=127.0.0.1
    PORT=5432
    POSTGRES_USER=postgres
    POSTGRES_DB=learning_website
    POSTGRES_PASSWORD=

# Ключ для платежного сервиса Stripe
STRIPE_API_KEY=

# Настройки почтового клиента
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Настройки Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Доверенные источники (домены)
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://213.165.222.176