# Ключ django
SECRET_KEY=<Ключ от Django>

# Режим дебага (разработки)
DEBUG=True

# Настройки для подключения к БД
NAME=learning_website
USER=<Пользователь БД>
PASSWORD=<Пароль от БД>
HOST=<Хост БД>
PORT=<Порт БД>